<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/p/jsa_test_automation_framework/src/test/java/test_package">
        <classes>
            <class name="test_package.api.ChallengeApiTest">
                <methods>
                    <include name="getChallengeTest"/>
                    <include name="getChallenge_id_Test"/>
                </methods>
            </class>
            <class name="test_package.business.LoginTest">
                <methods>
                    <include name="loginWithFBTest"/>
                </methods>
            </class>
            <class name="test_package.business.WS">
                <methods>
                    <include name="pricing"/>
                    <include name="transformations"/>
                    <include name="blog"/>
                    <include name="login"/>
                    <include name="footer"/>
                </methods>
            </class>
            <class name="test_package.business.WSAccount">
                <methods>
                    <include name="home"/>
                    <include name="workouts"/>
                    <include name="learn"/>
                    <include name="nutrition"/>
                    <include name="account"/>
                    <include name="myPlan"/>
                    <include name="myProfile"/>
                </methods>
            </class>
            <class name="test_package.business.WSHome">
                <methods>
                    <include name="myGoal"/>
                    <include name="myGoal_2"/>
                    <include name="weeklyGoal"/>
                    <include name="steps"/>
                    <include name="stepsInside"/>
                </methods>
            </class>
            <class name="test_package.ui.smoke.ui.__GUEST__.page_objects.main.MainTest">
                <methods>
                    <include name="mainPageTest"/>
                    <include name="clickGetStarted"/>
                    <include name="clickPlayStore"/>
                    <include name="clickAppStore"/>
                    <include name="clickMyInstagram"/>
                    <include name="clickMyFacebook"/>
                    <include name="clickPlayStoreInDownloadSection"/>
                    <include name="clickAppStoreButtonInDownloadSection"/>
                    <include name="clickAboutChallenges"/>
                    <include name="clickSeeMoreTransformations"/>
                    <include name="signUpForFamousDailyEmails"/>
                    <include name="clickFooterJsaLogo"/>
                    <include name="clickFooterTermsOfService"/>
                    <include name="clickFooterCookiesPolicy"/>
                    <include name="clickFooterPrivacyPolicy"/>
                    <include name="clickFooterBlog"/>
                    <include name="clickFooterBugReports"/>
                    <include name="clickFooterContactUs"/>
                    <include name="clickFooterAccess"/>
                    <include name="clickFooterFaqs"/>
                    <include name="clickFooterFacebook"/>
                    <include name="clickFooterInstagram"/>
                    <include name="clickFooterSpotify"/>
                    <include name="clickFooterPlayStore"/>
                    <include name="clickFooterAppStore"/>
                    <include name="clickHeaderPricing"/>
                    <include name="clickHeaderJsaLogo"/>
                    <include name="clickHeaderTransformations"/>
                    <include name="clickHeaderChallenge"/>
                    <include name="clickHeaderMyPodcast"/>
                    <include name="clickHeaderMyBook"/>
                    <include name="clickHeaderLogin"/>
                    <include name="clickHeaderJoinNow"/>
                </methods>
            </class>
            <class name="test_package.ui.smoke.ui.__GUEST__.page_objects.main.login.CreateAccountTest">
                <methods>
                    <include name="createAccountTest"/>
                    <include name="clickJsaLogoTest"/>
                    <include name="clickSignInWithFacebook"/>
                    <include name="clickSignInWithApple"/>
                    <include name="clickSignIn"/>
                    <include name="clickCreateAccountButton"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.AfterLogoutTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.from_footer.AccessAndDownloadTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.from_footer.BlogTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.from_footer.ContactUsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.from_footer.CookiesPolicyTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.from_footer.FaqsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.from_footer.PrivacyPolicyTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.from_footer.ReportBugsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.from_footer.TermsOfServiceTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.ChallengeTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.FamousDailyEmailsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.MainTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.PricingTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.TransformationsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.login.CreateAccountTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.login.LoginTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.login.ResetPasswordTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.my_podcast.MyPodcastTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__GUEST__.page_objects.main.my_podcast.PodcastEpisodeTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.from_footer.AccessAndDownloadTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.from_footer.BlogTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.from_footer.ContactUsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.from_footer.CookiesPolicyTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.from_footer.FaqsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.from_footer.PrivacyPolicyTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.from_footer.ReportBugsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.from_footer.TermsOfServiceTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.ChallengesTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.HomeTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.PersonalTrainerTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.account.PairedDevicesTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.account.UnitsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.account.my_plan.ConfirmCancelPopupTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.account.my_plan.MyPlanTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.account.my_plan.UpdateCardPopupTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.account.my_profile.EmailPreferencesTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.account.my_profile.MyProfileTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.account.my_profile.ResetPasswordFromMyProfileTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.account.my_profile.upload_image.LocalFilesTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.my_goal.MyGoalTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.my_goal.NewWeeklyGoalTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.my_progress.ImagesTabTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.my_progress.MyProgressTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.my_progress.measurements_tab.MeasurementsTabTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.steps.EditTodayStepsPopupTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.steps.EditYourGoalStepsPopupTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home.steps.StepsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.UserCabinetDropdownTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.learn.CategoriesMultiPageTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.learn.FavouritesTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.learn.LearnTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.learn.SearchVideosTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.learn.ToCompleteTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.learn.single_learn_video.SingleLearnVideoTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.learn.single_learn_video.VideoIFrameTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.nutrition.MealsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.nutrition.RecipesTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.nutrition.ShoppingListsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.workouts.BrowseTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.workouts.MyWorkoutsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.home_header.workouts.PersonalisedTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.main.ChallengeTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.main.FamousDailyEmailsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.main.MainTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.main.TransformationsTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.main.my_podcast.MyPodcastTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.main.my_podcast.PodcastEpisodeTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.main.pricing.PricingTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.main.pricing.pricingplans.PaymentMethodPopupTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__USER__.page_objects.main.pricing.pricingplans.PricingPlansTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__related_sites__.AppStorePageTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__related_sites__.FacebookGroupPageTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__related_sites__.FacebookPageTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__related_sites__.GooglePlayPageTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__related_sites__.InstagramPageTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.__related_sites__.SpotifyPageTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
            <class name="test_package.ui.unit.ui.specific.JsaCookiesTest">
                <methods>
                    <include name="unique"/>
                    <include name="repeated"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>